<config classname="App Settings" organization="Shadoware.Org" application="XINX">
	<include>#include &lt;QLocale&gt;</include>
	<include>#include &lt;QDir&gt;</include>
	<include>#include &lt;QApplication&gt;</include>
	<type name="Project">
		<value name="Last opened session" type="string"/>
		<value name="Open the last session at start" type="bool" default="no"/>
		<value name="Single Project Mode" type="bool" default="no"/>
		<value name="Default Path" type="string" defaultInstruction="QDir( qApp->applicationDirPath() ).absoluteFilePath( &quot;project&quot; )"/>
		<value name="Recent Project Files" type="stringlist"/>
		<value name="Close Version Management Log" type="bool" default="true"/>
		<value name="Automatic Project Directory Refresh Timeout" type="int" default="500"/>
	</type>
	<type name="RCS">
		<value name="Create ChangeLog" type="bool" default="no"/>
		<value name="Auto add file to versionning system" type="bool" default="yes"/>
	</type>
	<type name="Editor">
		<value name="Default Text Codec" type="string" default="ISO-8859-1"/>
		<value name="Autoindent On Saving" type="string" default="false"/>
		<value name="Popup When File Modified" type="bool" default="yes"/>
		<value name="Create Backup File" type="bool" default="yes"/>
		<value name="Tabulation Size" type="int" default="4"/>
		<value name="Show Tabulation and space" type="bool" default="false"/>
		<value name="Highlight Current Line" type="bool" default="true"/>
		<value name="Default format" type="font"/>
		<value name="Highlight word" type="color" default="yellow"/>
		<value name="Auto Highlight" type="bool" default="false"/>
		<value name="Hide Close Tab" type="bool" default="false"/>
		<value name="Close Button on each Tab" type="bool" default="false"/>
		<value name="Automatic Model Refresh Timeout" type="int" default="1000"/>
		<value name="Wrap Line" type="bool" default="false"/>
		<value name="Close Error Dock Automatically" type="bool" default="true"/>
	</type>
	<type name="QFormat">
		<value name="italic" type="bool" default="false"/>
		<value name="bold" type="bool" default="false"/>
		<value name="overline" type="bool" default="false"/>
		<value name="strikout" type="bool" default="false"/>
		<value name="underline" type="bool" default="false"/>
		<value name="waveunderline" type="bool" default="false"/>
		<value name="foreground" type="color"/>
		<value name="background" type="color"/>
	</type>
	<type name="Snipets">
		<value name="Always Show Dialog" type="bool" default="false"/>
	</type>

	<value name="Language" type="string" defaultInstruction="QLocale::system().name()"/>

	<value name="Position" type="point" default="200,200"/>
	<value name="Size" type="size" default="400,400"/>
	<value name="Maximized" type="bool" default="no"/>
	<value name="State" type="blob"/>
	<value name="XINX Trace" type="string"/>
	<value name="Style" type="string"/>
	<value name="Plugins" type="hash:bool" default="true"/>

	<value name="Project" type="Project"/>
	<value name="RCS" type="RCS"/>
	<value name="Editor" type="Editor"/>
	<value name="Snipets" type="Snipets"/>

	<value name="Tools" type="hash:string" default="QString()"/>
	<value name="Formats" type="hash:QFormat"/>

	<value name="Version" type="string"/>
	<value name="LastUpdate" type="string"/>
</config>
