<config classname="Plugin Settings" organization="Shadoware.Org" application="XINX" path="PluginsSettings/cvsplugin">
	<value name="Progress Messages" type="string" default="-q"/>
	<value name="Compression Level" type="int" default="9"/>
	<value name="Prune Empty Directories" type="bool" default="no"/>
	<value name="Create Directories" type="bool" default="yes"/>
</config>
