Source: xinx
Section: devel
Priority: extra
Maintainer: Ulrich Van Den Hekke <xinx@shadoware.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://xinx.shadoware.org/

Package: xinx
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xinx-scripts (>= 0.9.0.0)
Recommends: xinx-plugins-services, xinx-plugins-cvs, xinx-plugins-svn
Suggests: xinx-doc xinx-plugins-gce
Description: XSL/JS/HTML editor
 XINX is an editor of XSL stylesheet, JavaScript, Cascading Style Sheet.

Package: xinx-plugins-services
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xinx (>= 0.9.0.0)
Description: WebServices plugins library for XINX
 Add the WebServices capabilities to XINX
 
Package: xinx-plugins-cvs
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xinx (>= 0.9.0.0), cvs | cvsnt
Description: CVS plugins library for XINX
 Add the CVS capabilities to XINX
 
Package: xinx-plugins-svn
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xinx (>= 0.9.0.0), subversion
Description: SubVersion plugins library for XINX
 Add the SubVersion capabilities to XINX

Package: xinx-plugins-gce
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xinx (>= 0.9.0.0)
Description: Add some feature usefull when working on GCE
 This plugins add some usefull feature for developping stylesheet on GCE

Package: xinx-scripts
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xinx (>= 0.9.0.0)
Description: Default Scripts for XINX
 Default Script for XINX
 
Package: xinx-doc
Section: doc
Architecture: all
Depends: xinx (>= 0.9.0.0)
Description: Documentation for xinx
 Technical Documentation of XINX
