1 VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 0, 8, 0, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x9L
#else
FILEFLAGS 0x8L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
      BLOCK "040904b0"
      BEGIN
		VALUE "Comments", "\0"
		VALUE "CompanyName", "Ulrich Van Den Hekke"
		VALUE "FileDescription", "XINX Demo Empty Plugin"
        VALUE "FileVersion", "1, 0, 0, 1"
        VALUE "InternalName", "empty"
        VALUE "LegalCopyright", "Copyleft (C) U. Van Den Hekke 2008"
		VALUE "LegalTrademarks", "\0"
        VALUE "OriginalFilename", "empty.dll"
		VALUE "PrivateBuild", "\0"
        VALUE "ProductName", "XINX"
        VALUE "ProductVersion", "0, 8, 0, 0"
		VALUE "SpecialBuild", "\0"
      END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x409, 1200
  END
END


