<config classname="App Settings" organization="Shadoware.Org" application="XINX">
	<include>#include &lt;QLocale&gt;</include>
	<include>#include &lt;QDir&gt;</include>
	<include>#include &lt;QApplication&gt;</include>
	<type name="XmlPres">
		<value name="Auto expanded path" type="string" default="/layout_data/VueUtilisateurCourantSociete/JUt_UtiView/JUt_UtiViewRow"/>
		<value name="Hide path" type="stringlist" default="debug,application_data"/>
		<value name="Show filtered sub-tree" type="bool" default="true"/>
		<value name="View Color" type="color" default="blue"/>
		<value name="Error Color" type="color" default="red"/>
		<value name="Screen data Color" type="color" default="darkRed"/>
		<value name="Show name attribute if exists" type="bool" default="true"/>
	</type>
	<type name="Extentions">
		<value name="Custom Path" type="string"/>
		<value name="Can Be Specifique" type="bool" default="yes"/>
	</type>
	<type name="Descriptions">
		<value name="Datas" type="string" defaultInstruction="QDir( qApp->applicationDirPath() ).absoluteFilePath( &quot;../xml&quot; )"/>
	</type>
	<type name="Project">
		<value name="Last opened project" type="string"/>
		<value name="Open the last project at start" type="bool" default="no"/>
		<value name="Save With Session By Default" type="bool" default="no"/>
		<value name="Default Path" type="string" defaultInstruction="QDir( qApp->applicationDirPath() ).absoluteFilePath( &quot;project&quot; )"/>
		<value name="Recent Project Files" type="stringlist"/>
		<value name="Default Project Path Name" type="string" default="projet"/>
		<value name="Close Version Management Log" type="bool" default="true"/>
		<value name="Automatic Project Directory Refresh Timeout" type="int" default="500"/>
	</type>
	<type name="RCS">
		<value name="Create ChangeLog" type="bool" default="no"/>
	</type>
	<type name="Editor">
		<value name="Default Text Codec" type="string" default="UTF-8"/>
		<value name="Autoindent On Saving" type="bool" default="no"/>
		<value name="Popup When File Modified" type="bool" default="yes"/>
		<value name="Create Backup File" type="bool" default="yes"/>
        <value name="Tabulation Size" type="int" default="4"/>
        <value name="Show Tabulation and space" type="bool" default="false"/>
        <value name="Highlight Current Line" type="bool" default="true"/>
        <value name="Default format" type="font"/>
        <value name="Highlight word" type="color" default="yellow"/>
        <value name="Auto Highlight" type="bool" default="false"/>
        <value name="Hide Close Tab" type="bool" default="false"/>
        <value name="Close Button on each Tab" type="bool" default="false"/>
		<value name="Automatic Model Refresh Timeout" type="int" default="1000"/>
	</type>
    <type name="Configuration Editor">
        <value name="Activate Configuration Editor" type="bool" default="no"/>
        <value name="Auto load configuration file" type="bool" default="true"/>
        <value name="Auto save configuration file" type="bool" default="false"/>
    </type>

	<value name="Language" type="string" defaultInstruction="QLocale::system().name()"/>

	<value name="Position" type="point" default="200,200"/>
	<value name="Size" type="size" default="400,400"/>
    <value name="Maximized" type="bool" default="no"/>
	<value name="State" type="blob"/>
	<value name="XINX Trace" type="string"/>

	<value name="Descriptions" type="Descriptions"/>
	<value name="Project" type="Project"/>
	<value name="RCS" type="RCS"/>
	<value name="Editor" type="Editor"/>
	<value name="Configuration Editor" type="Configuration Editor"/>

	<value name="Xml Pres" type="XmlPres"/>

	<value name="Tools" type="hash:string">
		<default name="diff" default="/usr/bin/kompare"/>
	</value>
	<value name="Files" type="hash:Extentions"/>
	<value name="Formats" type="hash:textformat"/>
</config>