<config classname="App Settings" organization="Shadoware.Org" application="XINX">
	<include>#include &lt;QLocale&gt;</include>
	<include>#include &lt;QDir&gt;</include>
	<include>#include &lt;QApplication&gt;</include>
	<type name="Extentions">
		<value name="Custom Path" type="string"/>
		<value name="Can Be Specifique" type="bool" default="yes"/>
	</type>
	<type name="Descriptions">
		<value name="Object" type="string" defaultInstruction="QDir( qApp->applicationDirPath() ).absoluteFilePath( &quot;../xml&quot; )"/>
		<value name="Completion" type="string" defaultInstruction="QDir( qApp->applicationDirPath() ).absoluteFilePath( &quot;../xml&quot; )"/>
	</type>
	<type name="Project">
		<value name="Save With Session By Default" type="bool" default="no"/>
		<value name="Default Path" type="string" defaultInstruction="QDir( qApp->applicationDirPath() ).absoluteFilePath( &quot;project&quot; )"/>
		<value name="Alert when saving Standard File" type="bool" default="yes"/>
		<value name="Recent Project Files" type="stringlist"/>
		<value name="Default Project Path Name" type="string" default="projet"/>
		<value name="Close Version Management Log" type="bool" default="true"/>
	</type>
	<type name="CVS"> 
		<value name="Progress Messages" type="string" default="-q"/>
		<value name="Compression Level" type="int" default="9"/>
		<value name="Prune Empty Directories" type="bool" default="no"/>
		<value name="Create Directories" type="bool" default="yes"/>
		<value name="Create ChangeLog" type="bool" default="no"/>
	</type>
	<type name="Editor">
		<value name="Autoindent On Saving" type="bool" default="no"/>
		<value name="Popup When File Modified" type="bool" default="yes"/>
		<value name="Create Backup File" type="bool" default="yes"/>
		<value name="Completion Level" type="int" default="3"/>
        <value name="Tabulation Size" type="int" default="4"/>
        <value name="Show Tabulation and space" type="bool" default="false"/>
        <value name="Highlight Current Line" type="bool" default="true"/>
        <value name="Default format" type="font"/>
        <value name="Highlight word" type="color" default="yellow"/> 
        <value name="Auto Highlight" type="bool" default="false"/>
        <value name="Hide Close Tab" type="bool" default="false"/>
        <value name="Close Button on each Tab" type="bool" default="false"/>
	</type>
    <type name="Configuration Editor">
        <value name="Activate Configuration Editor" type="bool" default="no"/>
        <value name="Auto load configuration file" type="bool" default="true"/>
        <value name="Auto save configuration file" type="bool" default="false"/>
    </type>
	
	<value name="Language" type="string" defaultInstruction="QLocale::system().name()"/>
	
	<value name="Position" type="point" default="200,200"/>
	<value name="Size" type="size" default="400,400"/>
    <value name="Maximized" type="bool" default="no"/>
	<value name="State" type="blob"/>
	
	<value name="Descriptions" type="Descriptions"/>
	<value name="Project" type="Project"/>
	<value name="CVS" type="CVS"/>
	<value name="Editor" type="Editor"/>
	<value name="Configuration Editor" type="Configuration Editor"/>
    
	<value name="Tools" type="hash:string">
		<default name="cvs" default="/usr/bin/cvs"/>
		<default name="diff" default="/usr/bin/kompare"/>
	</value>
	<value name="Files" type="hash:Extentions">
		<default name="xml"/>
		<default name="xsl"/>
		<default name="fws" default="Can Be Specifique:no"/>
		<default name="js" default="Custom Path:js/"/>
	</value>
	<value name="Formats" type="hash:textformat"/>
</config>